html, body {
    height: 100%;
    font-family: roboto;
}

.header {
    text-align: center;
    color: white;
    padding: 20px 0;
    font-weight: lighter;
    font-style: italic;
    display: inline-block;
}

.left-slant {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    margin-right: 40px;
}
